@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
	@apply border-none bg-primary-700 text-white hover:bg-primary-800;
}
.btn-secondary {
	@apply border-none bg-secondary-500 text-white hover:bg-secondary-600;
}

.tooltip::before {
	@apply bg-secondary-950;
}

.border,
.border-x,
.border-y,
.border-t,
.border-r,
.border-b,
.border-l {
	@apply border-white/20;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #242323;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
